<div>
    <app-manage-region-list [RegionList]="getRegionArray()" [selected]="getSelected()" (selectRegionInParent)="setSelected($event)"> </app-manage-region-list>
    <div *ngIf="getSelected() > -1"> 
        <h2>Edit:</h2>
        <div>
            <label>Region:
                <input (click)="lock($event)" [(ngModel)]="getRegionArray()[getSelected()].name" />
                <p>Data przybycia: {{getRegionArray()[getSelected()].getDateArrival() | date: 'dd-MM-yyyy'}}</p>
                <p>Data powrotu: {{getRegionArray()[getSelected()].getDateReturn() | date: 'dd-MM-yyyy'}}</p>
                <div *ngIf="(getRegionArray()[getSelected()].getTribeCount() >= 5 && getRegionArray()[getSelected()].getTribeCount() < 20) || (getRegionArray()[getSelected()].getTribeCount() >= 20 && (getRegionArray()[getSelected()].getTribeCount()%10 >= 5 || getRegionArray()[getSelected()].getTribeCount()%10 <= 1))">
                    <p>{{getRegionArray()[getSelected()].getTribeCount()}} plemion</p>
                </div>
                <div *ngIf="(getRegionArray()[getSelected()].getTribeCount() > 1 && getRegionArray()[getSelected()].getTribeCount() < 5) || (getRegionArray()[getSelected()].getTribeCount() >= 20 && (getRegionArray()[getSelected()].getTribeCount()%10 < 5 && getRegionArray()[getSelected()].getTribeCount()%10 > 1))">
                    <p>{{getRegionArray()[getSelected()].getTribeCount()}} plemiona</p>
                </div>
                <div *ngIf="getRegionArray()[getSelected()].getTribeCount() == 1">
                    <p>{{getRegionArray()[getSelected()].getTribeCount()}} plemię</p>
                </div>
                <p>Niezwykłe przedmioty:</p>
                <ul>
                    <li *ngFor="let amazingItem of getRegionArray()[getSelected()].getAmazingItems();index as i">
                        {{amazingItem}}
                    </li>
                </ul>
                
                <button (click)="save()">Save</button> 
            </label>
        </div>
    </div>
</div>