<div>
    <app-manage-region-list [RegionList]="RegionArray" [selected]="selected" (selectRegionInParent)="select($event)"> </app-manage-region-list>
    <div *ngIf="selected > -1"> 
        <h2>Edit:</h2>
        <div>
            <label>Region:
                <input (click)="lock($event)" [(ngModel)]="RegionArray[selected].Name" />
                <p>Data przybycia: {{RegionArray[selected].DateArrival | date: 'dd-MM-yyyy'}}</p>
                <p>Data powrotu: {{RegionArray[selected].DateReturn | date: 'dd-MM-yyyy'}}</p>
                <div *ngIf="(RegionArray[selected].TribeCount >= 5 && RegionArray[selected].TribeCount < 20) || (RegionArray[selected].TribeCount >= 20 && (RegionArray[selected].TribeCount%10 >= 5 || RegionArray[selected].TribeCount%10 <= 1))">
                    <p>{{RegionArray[selected].TribeCount}} plemion</p>
                </div>
                <div *ngIf="(RegionArray[selected].TribeCount > 1 && RegionArray[selected].TribeCount < 5) || (RegionArray[selected].TribeCount >= 20 && (RegionArray[selected].TribeCount%10 < 5 && RegionArray[selected].TribeCount%10 > 1))">
                    <p>{{RegionArray[selected].TribeCount}} plemiona</p>
                </div>
                <div *ngIf="RegionArray[selected].TribeCount == 1">
                    <p>{{RegionArray[selected].TribeCount}} plemię</p>
                </div>
                <p>Niezwykłe przedmioty:</p>
                <ul>
                    <li *ngFor="let amazingItem of RegionArray[selected].AmazingItems;index as i">
                        {{amazingItem}}
                    </li>
                </ul>
                
                <button (click)="save()">Save</button> 
            </label>
        </div>
    </div>
</div>